<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dwak.holohackernews.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HoloHackerNewsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.storylist.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.storylist.MainActivity" >
        </activity>
        <activity
            android:name=".ui.storydetail.StoryDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_story_detail"
            android:parentActivityName=".ui.storylist.MainActivity"
            android:theme="@style/AppTheme.Detail" >
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.storylist.MainActivity" >
        </activity>
    </application>

</manifest>
